<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
 		http://www.springframework.org/schema/beans/spring-beans.xsd">
 		
<bean id="cBattery" class = "com.ezen.battery.ChargeBattery"></bean> 	
<bean id="nBattery" class = "com.ezen.battery.NormalBattery"></bean>

<bean id="car" class="com.ezen.toys.ElectronicCar"></bean>
<bean id="radio" class="com.ezen.toys.ElectronicRadio">
	<constructor-arg ref="cBattery"></constructor-arg> <!-- 의존 주입 -->
</bean>
<bean id="robot" class="com.ezen.toys.ElectronicRobot"></bean>
 		
</beans>